spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

logging:
  level:
    root: WARN
    com.sudhanshu: INFO

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server-prod:8761/eureka/