spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

logging:
  level:
    root: DEBUG
    com.yourcompany: DEBUG
    org.springframework.web: DEBUG

management:
  endpoint:
    health:
      show-details: always

eureka:
  client:
    healthcheck:
          enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
