# Common configurations for all microservices

spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway,routes
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.sudhanshu: INFO

eureka:
  client:
    healthcheck:
      enabled: true
    ServiceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    appName: event-service
    preferIpAddress: true
    instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    non-secure-port: ${server.port}
    lease-renewal-interval-in-seconds: 10
    metadata-map:
      instanceId: ${spring.application.name}:${random.value}
